@model Y4C.Models.AddContent

<!DOCTYPE html>
<html>
<head>
    <title>Add Content</title>
</head>
<body>
    

    <form asp-controller="Home" asp-action="AddContent" asp-method="Post">
        <div class="form-group">
            <label for="Title">Title</label>
            <input type="text" class="form-control" id="Title" placeholder="Enter the theme's title" />
        </div>
        <div class="form-group">
            <label for="Video">Video</label>
            <input type="text" class="form-control" id="Video" placeholder="Enter the url of the themes video" />
        </div>
        <div class="form-group">
            <label for="Description">Description</label>
            <input type="text" class="form-control" id="Description" placeholder="Enter a short description of the video" />
        </div>
        <h2>Upload Blog</h2>
        <label>Title</label><br /><input type="text" name="BlogTitle" /><br />
        <label>Author</label><br /><input type="text" name="BlogAuthor" /><br />
        <label>Content</label><br /><textarea rows="25" cols="75" name="BlogContent"></textarea><br />

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</body>

</html>

