@model Y4C.Models.AddContent

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Upload Content</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="AddContent" asp-method="Post" id="add-form">
                <div class="form-group">
                    <label for="Title">Title</label>
                    <input type="text" class="form-control" id="Title" placeholder="Enter the theme's title" />
                </div>
                <div class="form-group">
                    <label for="Video">Video</label>
                    <input type="text" class="form-control" id="Video" placeholder="Enter the url of the themes video" />
                </div>
                <div class="form-group">
                    <label for="Audio">Audio</label>
                    <input type="text" class="form-control" id="Audio" placeholder="Enter the url of the themes audio" />
                </div>

                <h2>Upload Blog</h2>

                <textarea id="summernote" name="BlogContent"></textarea>
                <script>
                    $('#summernote').summernote({
                        placeholder: 'Enter Blog Content Here.',
                        tabsize: 2,
                        height: 300,
                        width: 1000
                    });
                </script>
                <input type="submit" value="Submit" />
            </form>
        </div>
    </div>
</body>

</html>