@model Y4C.Models.AddContent

@{
    ViewData["Title"] = "HomePage";
}


<center>
    <br/>
    <div><img src="~/images/Y4Clogo.png" alt="Y4C" width="200" height="78"></div>
    <h1>Welcome to Yoga 4 Change</h1>

</center>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="HomePage">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table style="width:100%">
                <tr>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Gratitude.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Gratitude</h5>
                        <p class="card-text">Readiness to show appreciation for and to return kindness.</p>
                        <a href="#" class="btn btn-primary">Lesson 1</a>
                        </div>
                    </div>
                    </td>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Acceptance.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Self Acceptance</h5>
                        <p class="card-text">An individual's satisfaction or happiness with oneself.</p>
                        <a href="#" class="btn btn-primary">Lesson 2</a>
                        </div>
                    </div>
                    </td>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/PeerPressure.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Peer Pressure</h5>
                        <p class="card-text">A feeling that one must do the same things as other people of one's age in order to be liked.</p>
                        <a href="#" class="btn btn-primary">Lesson 3</a>
                        </div>
                    </div>
                    </td>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Expectations.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Expectations</h5>
                        <p class="card-text">A strong belief that something will happen or be the case in the future.</p>
                        <a href="#" class="btn btn-primary">Lesson 4</a>
                        </div>
                    </div>
                    </td>
                    
                </tr>
                <tr>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Forgiveness.jpg" alt="Card image cap">
                        <div class="card-body">
                         <h5 class="card-title">Forgiveness</h5>
                         <p class="card-text">The action or process of forgiving or being forgiven.</p>
                         <a href="#" class="btn btn-primary">Lesson 5</a>
                        </div>
                    </div>
                    </td>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Vulnerability.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Vulnerability</h5>
                        <p class="card-text">A person in need of special care, support, or protection because of age, disability, or risk of abuse or neglect.</p>
                        <a href="#" class="btn btn-primary">Lesson 6</a>
                        </div>
                    </div>
                    </td>
                    <td>
                        <div class="card" style="width: 30rem;">
                        <img class="card-img-top" src="~/images/Confidence.png" alt="Card image cap">
                            <div class="card-body">
                            <h5 class="card-title">Self Confidence</h5>
                            <p class="card-text">A feeling of trust in one's abilities, qualities, and judgment.</p>
                            <a href="#" class="btn btn-primary">Lesson 7</a>
                            </div>
                        </div>
                    </td>
                    <td>
                    <div class="card" style="width: 30rem;">
                    <img class="card-img-top" src="~/images/Listening.jpg" alt="Card image cap">
                        <div class="card-body">
                        <h5 class="card-title">Active Listening</h5>
                        <p class="card-text">A technique that is used in counseling, training, and solving disputes or conflicts</p>
                        <a href="#" class="btn btn-primary">Lesson 8</a>
                        </div>
                    </div>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>


